# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
# Android related
android/app/debug/
android/app/profile/
android/app/release/
android/.gradle/
android/local.properties
android/.idea/
# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
# Visual Studio Code related
.vscode/
# Other
*.iml
